<ion-header >
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-avatar>
    <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
  </ion-avatar>
  <form [formGroup]="loginForm" (ngSubmit)="loginUser(loginForm.value)">
    <ion-item>
      <ion-input label="Email" labelPlacement="floating" placeholder="ejemplo@gmail.com" formControlName="email"></ion-input>
    </ion-item>
    <div> 
      <ng-container *ngFor="let error of formErrors.email">
        <ion-label color="danger" *ngIf="(loginForm.get('email')?.hasError(error.type) && loginForm.get('email')?.dirty)">
          {{error.message}}
        </ion-label>
        </ng-container>
    </div>
    <ion-item>
      <ion-input label="password" labelPlacement="floating" placeholder="*******" formControlName="password" 
      type="password"></ion-input>
    </ion-item>
    <div>
      <ng-container *ngFor="let error of formErrors.password">
        <ion-label color="danger" 
          *ngIf="loginForm.get('password')?.hasError(error.type) && loginForm.get('password')?.dirty">
          {{ error.message }}
        </ion-label>
      </ng-container>
    </div>
    <ion-button type ="submit"[disabled]="!loginForm.valid">login</ion-button>
  </form>
  </ion-content>
