<ion-content>
  <swiper-container
  slides-per-view="1"
  pagination="true"
  >
    <swiper-slide class="bg-color-slide">
      <h1 class="title1">bienvenidos a MYRecipe</h1>
      <img src="/assets/images/receta1.jpg">
      <ion-icon name="cafe-outline"></ion-icon>
      <p>un lugar muy especial en el que puedes compartir tus recetas</p>
    </swiper-slide>
    <swiper-slide>
      <h1 class="title2">red social de recetas</h1>
      <img src="/assets/images/receta2.png">
      <ion-icon name="id-card-outline"></ion-icon>
      <p>en MYRecipe puedes ver recetas de muchas personas y opinar sobre ellas </p>
    </swiper-slide>
    <swiper-slide>
      <h1 class="title2">tu opinion es muy especial</h1>
      <img src="/assets/images/Compartir.jpg">
      <ion-icon name="rocket-outline"></ion-icon>
      <p> entre mas opiniones tiene una receta mas probable es que la vean otras personas </p>
    </swiper-slide>
    <swiper-slide>
      <ion-icon name="close" class="close-icon" (click)="finish()"></ion-icon>
      <h1 class="title2"> recuerda ser respetuoso</h1>
      <ion-icon name="nutrition-outline"></ion-icon>
      <p> tu opinion debe ser hacia las recetas, no hacia  las personas </p>
      <ion-button  (click)="finish()">Llevame al home</ion-button>
    </swiper-slide>
  </swiper-container>
</ion-content>
