<ion-content>
  <swiper-container
  slides-per-view="1"
  pagination="true"
  >
    <swiper-slide class="bg-color-slide">
      <h1 class="title1">bienvenidos a MYRecipe</h1>
      <img src="/assets/images/receta1.jpg">
      <ion-icon name="cafe-outline"></ion-icon>
      <p>un lugar muy especial en el que puedes compartir tus recetas</p>
    </swiper-slide>
    <swiper-slide>
      <h1>Hola Slide 2</h1>
      <img src="https://www.mundogatos.com/Uploads/mundogatos.com/ImagenesGrandes/fotos-de-gatitos-3-0.jpg">
      <ion-icon name="battery-charging-outline"></ion-icon>
      <p>Hola soy el slide dos de la libreria swiper</p>
    </swiper-slide>
    <swiper-slide>
      <ion-icon name="close" class="close-icon" (click)="finish()"></ion-icon>
      <h1>Hola Slide 3</h1>
      <ion-icon name="battery-charging-outline"></ion-icon>
      <p>Hola soy el slide tres de la libreria swiper</p>
      <ion-button  (click)="finish()">Llevame al home</ion-button>
    </swiper-slide>
  </swiper-container>
</ion-content>
