<ion-header>
  <ion-toolbar>
    <ion-title>Crear Nuevo Post</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>

  <form [formGroup]="addPostForm" (ngSubmit)="addPost(addPostForm.value)">
    <div (click)="uploadPhone()">
      <img [src]="post_image ? post_image : 'assets/images/placeholder.png'" />
      <p *ngIf="!post_image">Haz click para subir una imagen</p>
    </div>

    <ion-item>
      <ion-textarea label="Descripción del post" labelPlacement="floating" placeholder="Cuenta lo que estas pensando" formControlName="description"></ion-textarea>
    </ion-item>

    <ion-footer>
      <ion-button 
      type="submit"
      [disabled]="!addPostForm.valid"
      expand="full"
      >
        Publicar
      </ion-button>
      <br>
    </ion-footer>
  </form>

</ion-content>