<<ion-header>
  <ion-toolbar>
      <ion-buttons slot="end">
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>

      <ion-card *ngFor="let post of posts">
          <img src="{{post.image}}" class="image-post" />
          <ion-card-header>
              <ion-card-subtitle>
                  <ion-avatar class="user-avatar">
                      <img 
                      [src]="post.user.image ? post.user.image : 'assets/images/avatar-default-icon.png'"
                      />
                  </ion-avatar>
                  {{post.user.name}}
              </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
              {{post.description}}
          </ion-card-content>
      </ion-card>

  </ion-list>

  <ion-infinite-scroll
  threshold="100px"
  (ionInfinite)="loadPosts($event)"
  *ngIf="hasMore"
>
  <ion-infinite-scroll-content
    loadingSpinner="bubbles"
    loadingText="Cargando más publicaciones..."
  >
  </ion-infinite-scroll-content>
</ion-infinite-scroll>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button (click)="addPost()">
          <ion-icon name="add"></ion-icon>
      </ion-fab-button>
  </ion-fab>
</ion-content>