<ion-header >
  <ion-toolbar>
    <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
    </ion-buttons>
</ion-toolbar>
</ion-header>

<ion-content>
  <h1>{{user_data.name}} {{user_data.last_name}}</h1>
  <ion-avatar (click)="presentPhotoOptions()">
    <img [src]="user_data.image ? user_data.image : 'assets/images/avatar-default-icon.png'"/>
  </ion-avatar>
  <p>usuario: {{user_data.username}}</p>
  <p>Seguidores: {{user_data.followers.length}}</p>
  <p>Siguiendo: {{user_data.followees.length}}</p>

  <ion-button  (click)="toggleEditForm()">
    {{ isEditing ? 'Cancelar' : 'Editar Usuario' }}
  </ion-button>

  
  <form *ngIf="isEditing" [formGroup]="editForm" (ngSubmit)="updateUsername(editForm.value)">
    <ion-item>
      <ion-input label="Usuario" labelPlacement="floating" placeholder="juan123" formControlName="username"></ion-input>
    </ion-item>

    <ion-button expand="full" type="submit" [disabled]="!editForm.valid">
      Guardar Cambios
    </ion-button>
  </form>
</ion-content>