<ion-header >
  <ion-toolbar>
    <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
    </ion-buttons>
</ion-toolbar>
</ion-header>

<ion-content>
  <h1>{{user_data.name}} {{user_data.last_name}}</h1>
  <ion-avatar (click)="takePhoto()">
    <img [src]="user_data.image ? user_data.image : 'assets/images/avatar-default-icon.png'"/>
  </ion-avatar>
  <p>usuario: {{user_data.username}}</p>
  <p>Seguidores: {{user_data.followed_users.length}}</p>
  <p>Siguiendo: {{user_data.following_users.length}}</p>
</ion-content>